*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

nav{
    padding: 1rem 2rem 1rem 2rem;
}

nav div {
    display: flex;
    justify-content: space-between;
}

nav div ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}   

section{
    background: rgb(243 244 246);
}

#hero-text{
    padding-top: 3rem;
}

#hero #hero-content{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1rem 0 1rem;
}

 
#hero-content div img {
    padding-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
}

#hero-content div h2{
    font-size:1.50rem;
    margin-bottom: 0.30rem;
}

#hero-content div h1{
    font-size:1.70rem;
    margin-bottom: 0.30rem;
}

#hero-content div p{
    line-height: 1.50rem;
    margin-bottom: 0.80rem;
}


#hero-content div button {
    padding: 1rem 1.70rem;
    border-radius: 10px;
    background: #216917;
    color: white;
}


#projects{
    margin-top: 2rem;
    padding: 0 1rem;
}

#projects h3 {
    font-size: 1.60rem;
    /* margin-bottom: 2rem; */
}

#projects img{
    width: 100%;
    margin-bottom: 0.70rem;
    margin-top: 2rem;
}

#projects a{
    text-decoration: none;
    margin-right: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: rgb(31 41 55);
    color: white;
}


@media (min-width: 768px) {
    nav{
        padding: 1rem 10rem 1rem 10rem;
    }
    
    nav div {
        display: flex;
        justify-content: space-between;
    }
    
    nav div ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }
    
    
    #hero-text{
        padding-top: 10rem;
    }
    
    
    #hero #hero-content{
        display: flex;
        flex-direction: row;
        padding: 0 3rem 0 3rem;
    }
    
    #hero-content div img {
        width: 100%;
    }
    
    #hero-content div h2{
        font-size:1.50rem;
        margin-bottom: 0.30rem;
    }
    
    #hero-content div h1{
        font-size:2rem;
        margin-bottom: 0.30rem;
    }
    
    #hero-content div p{
        line-height: 1.30rem;
        margin-bottom: 0.80rem;
    }
    
    
    #hero-content div button {
        padding: 1rem 1.70rem;
        border-radius: 10px;
    }


    #projects{
        margin-top: 2rem;
    }
    
    #projects-container{
    }

    #projects-container img{
        margin: auto;
    }

    
}

@media (min-width: 1280px) {
    /* nav{
        padding: 1rem 10rem 1rem 10rem;
    }
    
    nav div {
        display: flex;
        justify-content: space-between;
    }
    
    nav div ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    } */
    
    
    #hero-text{
        padding-top: 10rem;
    }
    
    
    #hero #hero-content{
        display: flex;
        padding: 0 10rem 0 10rem;
    }
    
    #hero-content div img {
        width: 100%;
    }
    
    #hero-content div h2{
        font-size: 2.50rem;
        margin-bottom: 0.60rem;
    }
    
    #hero-content div h1{
        font-size: 3rem;
        margin-bottom: 0.60rem;
    }
    
    #hero-content div p{
        width: 70%;
       line-height: 1.50rem;
       margin-bottom: 1rem;
    }
    
    #hero-content div button{
       padding: 0.60rem 1.50rem 0.60rem 1.50rem;
    }

    #projects{
        margin-top: 2rem;
        padding: 0 10rem;
    }

    #projects img{
        width: auto;
        margin-top: 2rem;
        /* margin-bottom: 10rem; */
    }

    .test{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}


@media (min-width :1440px) {
    /* nav{
        padding: 1rem 10rem 1rem 10rem;
    }
    
    nav div {
        display: flex;
        justify-content: space-between;
    }
    
    nav div ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    } */
    
    
    #hero-text{
        padding-top: 10rem;
    }
    
    
    #hero #hero-content{
        display: flex;
        padding: 0 10rem 0 10rem;
    }
    
    #hero-content div img {
        padding-top: 10rem;
        width: 40rem;
    }
    
    #hero-content div h2{
        font-size: 2.50rem;
        margin-bottom: 0.60rem;
    }
    
    #hero-content div h1{
        font-size: 3rem;
        margin-bottom: 0.60rem;
    }
    
    #hero-content div p{
        width: 70%;
       line-height: 1.50rem;
       margin-bottom: 1rem;
    }
    
    #hero-content div button{
       padding: 0.60rem 1.50rem 0.60rem 1.50rem;
    }
    #projects img{
        margin-bottom: 0.70rem;
        margin-top: 2rem;
    }
    #hero-content div button {
        padding: 1rem 1.70rem;
        border-radius: 10px;
        background: #216917;
        color: white;
    }
}